apiVersion: apps/v1
kind: Deployment
metadata:
  name: middleware-citus
  namespace: citus
  labels:
    app: middleware-citus
spec:
  replicas: 1
  selector:
    matchLabels:
      app: middleware-citus
  template:
    metadata:
      labels:
        app: middleware-citus
    spec:
      containers:
        - name: middleware
          image: middleware-citus:1.0
          imagePullPolicy: Never  # ⚠️ CAMBIO CRÍTICO
          ports:
            - containerPort: 8000
          env:
            - name: POSTGRES_HOST
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: POSTGRES_HOST
            - name: POSTGRES_PORT
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: POSTGRES_PORT
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: POSTGRES_DB
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: POSTGRES_PASSWORD
            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: SECRET_KEY
          readinessProbe:
            httpGet:
              path: /docs
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 20

---
apiVersion: v1
kind: Service
metadata:
  name: middleware-citus-service
  namespace: citus
spec:
  selector:
    app: middleware-citus
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
  type: ClusterIP
